<div class="columns">
  <div class="column">
  <h2 class="title is-2">Top 25 Books</h2>
    <ol class="ml-5">
      <% @books.each do |book| %>
        <li>
          <%= link_to book.title, book %>
          <em>(<%= book.author.name %>)</em>
        </li>
      <% end %>
    </ol>
  </div>

  <div class="column">
  <h2 class="title is-2">Top 10 Authors</h2>
  </div>
</div>