<hr>
<footer>
  <p>CopyWrong K6's library 2020</p>
  <ul class="mt-5">
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Top Books', books_path %></li>
    <li><%= link_to 'Top Authors', authors_path %></li>
    <li><%= link_to 'About', about_index_path %></li>
  </ul>
</footer>